*{
  margin: 0;
  padding: 0;
}

.bd .md-sidenav-left .logotype {
  height: 45px;
  margin: auto;
}

.bd .menu li {
  list-style: none;
  cursor: pointer;
}

.bd .menu a.md-button {
  display: block;
  font-weight: 400;
  text-transform: none;
  padding: 20px;
  font-size: 15px;
}

.bd .login-container {
  width: 100%;
}

.bd .login-container .md-whiteframe-z3 {
  padding: 25px 25px 0 25px;
}

.bd .md-toolbar-tools .title {
  margin-left: 10px;
}

.bd .main-content {
  background-color: #efefef;
}

md-card {
  background-color: #fff;
}

popup-menu .menu-list {
  position: absolute;
  right: 0px;
  background-color: #fff;
  z-index: 100;
  min-width: 225px;
}

popup-menu .menu-list .md-button {
  font-size: 12px;
}

.promotions-actions md-list md-list-item,
.users-actions md-list md-list-item {
  width: 120px;
  float: right;
  margin-bottom: 28px;
}

.voucher-list {
  margin-top: 30px;
}

.bd .md-accent .md-fab-top-right {
  top: 30px;
}

.promotion-edit-container {
  margin-top: 15px;
}

.bd .actions {
  margin-top: 40px;
}

.bd .avatar {
  border-radius: 50%;
  border: 1px solid #ddd;
  width: 100px;
}

.bd .login-loading {
  display: none;
}

.bd .login-button {
  margin-top: 15px;
}

.highlight {
  margin-left: 1px;
  margin-right: 1px;
  -webkit-font-smoothing: auto;
  padding: 0.125em 0.35em;
  border-radius: 2px;
  font-size: 12px;
  background: #eee;
}

.highlight-primary {
  color: #4054B2;
}

.highlight-raised {
  color: #E42939;
}