<div layout="row" flex layout-fill layout-align="center center">
    <md-card flex-sm="98" flex-gt-sm="70" flex-gt-md="50" flex-gt-lg="40">
        <md-card-content>
            <form name="loginForm" ng-submit="login(credentials)">
                <md-input-container>
                    <label>Email</label>
                    <input type="email" name="email" ng-model="credentials.username" required>
                    <div ng-messages="loginForm.email.$error">
                        <div ng-message="required">Este campo es requerido.</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Contraseña</label>
                    <input type="password"  name="password" ng-model="credentials.password" required>
                    <div ng-messages="loginForm.password.$error">
                        <div ng-message="required">Este campo es requerido</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <md-button>Login</md-button>
                </md-input-container>
            </form>
        </md-card-content>
    </md-card>
</div>