<md-bottom-sheet class="md-list md-has-header" ng-cloak>
    <md-subheader>Usted desea:</md-subheader>
    <md-list flex layout="row" layout-align="end center">
        <md-list-item>
            <md-button class="md-list-item-content" ng-click="restore()">
                <md-icon class="icon-action-black icon-action-black-ic_delete_black_24dp"></md-icon>
                <div class="md-inline-list-icon-label">Restaurar</div>
            </md-button>
        </md-list-item>
        <md-list-item>
            <md-button class="md-list-item-content" ng-click="delete()">
                <md-icon class="icon-action-black icon-action-black-ic_delete_black_24dp"></md-icon>
                <div class="md-inline-list-icon-label">Eliminar</div>
            </md-button>
        </md-list-item>
    </md-list>
</md-bottom-sheet>