<div layout="row" flex layout-fill layout-align="center center">
    <md-card flex-sm="98" flex-gt-sm="90" flex-gt-md="80" flex-gt-lg="60">
        <md-card-content>
            <md-toolbar class="md-theme-light md-accent">
                <h2 class="md-toolbar-tools">
                    <span>Lista de revistas</span>
                </h2>
            </md-toolbar>
            <md-content>
                <div layout layout-padding ng-show="!error && loading">
                    <md-progress-linear class="md-warn" md-mode="indeterminate"></md-progress-linear>
                </div>
                <div layout layout-padding ng-show="error">Ha ocurrido un error intentalo nuevamente mas tarde.</div>
                <md-list>
                    <md-list-item class="md-2-line" ng-click="showActions($event, issue)" ng-repeat="issue in issues">
                                <img ng-src="{{(issue.cover || 'assets/img/blank_issue.png')}}" alt="cover" hide-sm class="md-avatar">
                                <div class="md-list-item-text">
                                    <h3>{{(issue.title || 'Sin nombre')}}</h3>
                                    <p>{{(issue.number ? 'Número ' + issue.number : 'Sin número')}}</p>
                                </div>
                                <md-button class="md-secondary md-icon-button" aria-label="Borrador" ng-show="issue.draft">
                                    <md-icon class="icon-action-black icon-action-black-ic_info_black_24dp"></md-icon>
                                    <md-tooltip>Borrador</md-tooltip>
                                </md-button>
                                <md-switch class="md-secondary" ng-model="issue.active" aria-label="Activo" ng-change="activate(issue)" ng-show="!issue.draft"></md-switch>
                        </md-item-content>
                        <md-divider ng-if="$index !== (issues.length-1)" inset></md-divider>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-card-content>
    </md-card>

    <div class="controls">
        <md-button class="md-fab md-fab-bottom-right md-primary" ng-click="create()">
            <md-icon aria-label="Agregar revista" class="icon-content-white icon-content-white-ic_add_white_24dp"></md-icon>
            <md-tooltip>
                Agregar revista
            </md-tooltip>
        </md-button>
    </div>
</div>