<md-bottom-sheet class="md-list md-has-header promotion-actions">
    <md-subheader>Usted desea:</md-subheader>
    <md-list layout="row" layout-align="center center">
        <md-list-item flex>
            <md-button class="md-list-item-content md-primary md-raised" ng-click="edit()">
                Editar
            </md-button>
        </md-list-item>
        <md-list-item flex>
            <md-button class="md-list-item-content md-warn md-raised" ng-click="delete()">
                Eliminar
            </md-button>
        </md-list-item>
    </md-list>
</md-bottom-sheet>