<div layout="row" flex layout-fill layout-align="center center">
    <md-card flex-sm="98" flex-gt-sm="90" flex-gt-md="80" flex-gt-lg="60">
        <md-card-content>
            <md-toolbar class="md-theme-light md-accent">
                <h2 class="md-toolbar-tools">
                    <span>Lista de promociones</span>
                </h2>
                <!--<span flex></span>
                <md-button class="md-fab md-fab-top-right md-primary" ng-click="create()">
                    <md-icon aria-label="Agregar promoción" class="icon-content-white icon-content-white-ic_add_white_24dp"></md-icon>
                    <md-tooltip>
                        Agregar promoción
                    </md-tooltip>
                </md-button>-->
            </md-toolbar>
            <md-content>
                <md-list>
                    <md-list-item class="md-3-line" ng-click="showActions($event, promotion)"  ng-repeat="promotion in promotions">
                        <div class="md-list-item-text">
                            <h3>{{promotion.name}}</h3>
                            <h4>{{promotion.description}}</h4>
                            <p>{{promotion.coupons.length}} cupones de descuento.</p>
                        </div>
                        <md-button class="md-accent" aria-label="Photos" ng-show="promotion.draft">
                            <md-icon class="icon-action-black icon-action-black-ic_info_black_24dp"></md-icon>
                            <md-tooltip>
                                Abandono sin guardar (modo borrador)
                            </md-tooltip>
                        </md-button>
                        <md-switch class="md-secondary" ng-model="promotion.active" aria-label="Activo" ng-change="activate(promotion)"></md-switch>
                        <md-divider ng-if="$index !== (promotions.length-1)" inset></md-divider>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-card-content>
    </md-card>

    <div class="controls">
        <md-button class="md-fab md-fab-bottom-right md-primary" ng-click="create()">
            <md-icon aria-label="Agregar promoción" class="icon-content-white icon-content-white-ic_add_white_24dp"></md-icon>
            <md-tooltip>
                Agregar promoción
            </md-tooltip>
        </md-button>
    </div>
</div>